.title-section,
.input-section {
  display: flex;
  justify-content: center;
}

.clockbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 24px;
}
